body{
    background: #888;
    margin: 25px;
}

#rootPlaceholder{
    max-width: 40em;
}
#catchTimer{
    color: #fff;
}
#catchCount{
    color: yellow;
}

.block {
    min-height: 5em;
    min-width: 5em;
    border: 2px solid #fff;    
}

.block.Off-State{
    background: #000;
}

.block.On-State{
    background: rgb(147, 14, 192);
}

.artifact{
    background: rgb(5, 243, 104) !important;
}